Source: nng
Section: devel
Priority: optional
Maintainer: Laszlo Boszormenyi (GCS) <gcs@debian.org>
Build-Depends: debhelper-compat (= 13), dh-python, python3,
 python3-setuptools, cmake, asciidoctor, protobuf-compiler,
 python3-protobuf, libmbedtls-dev
Rules-Requires-Root: no
Standards-Version: 4.7.0
Homepage: https://nng.nanomsg.org/

Package: nng-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: foreign
Description: Lightweight Messaging Library - utility
 Lightweight, broker-less library, offering a simple API to solve
 common recurring messaging problems, such as publish/subscribe,
 RPC-style request/reply, or service discovery. The API frees the
 programmer from worrying about details like connection management,
 retries, and other common considerations, so that they can focus on
 the application instead of the plumbing.
 .
 This package contains the nngcat utility.

Package: libnng1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Lightweight Messaging Library - shared library
 Lightweight, broker-less library, offering a simple API to solve
 common recurring messaging problems, such as publish/subscribe,
 RPC-style request/reply, or service discovery. The API frees the
 programmer from worrying about details like connection management,
 retries, and other common considerations, so that they can focus on
 the application instead of the plumbing.
 .
 This package contains the shared library.

Package: libnng-dev
Section: libdevel
Architecture: any
Depends: libnng1 (= ${binary:Version}), ${misc:Depends}, libmbedtls-dev
Suggests: libnng-doc
Multi-Arch: same
Description: Lightweight Messaging Library - development
 Lightweight, broker-less library, offering a simple API to solve
 common recurring messaging problems, such as publish/subscribe,
 RPC-style request/reply, or service discovery. The API frees the
 programmer from worrying about details like connection management,
 retries, and other common considerations, so that they can focus on
 the application instead of the plumbing.
 .
 This package contains the header files needed for developing programs
 using libwebsockets and a static library.

Package: libnng-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends}
Description: Lightweight Messaging Library - HTML documentation
 Lightweight, broker-less library, offering a simple API to solve
 common recurring messaging problems, such as publish/subscribe,
 RPC-style request/reply, or service discovery. The API frees the
 programmer from worrying about details like connection management,
 retries, and other common considerations, so that they can focus on
 the application instead of the plumbing.
 .
 This package installs HTML documentation for developing programs using
 libwebsockets.
